
.dirbtn {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background: #222;
  color: #fff;
}
.dirbtn:hover {
  background: #eee;
  color: #222;
  cursor: pointer;
}
.constant-simple-slider {
  margin: 0 auto;
  margin-bottom: 0px !important;
}
.constant-simple-slider img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  margin: auto;
}
.constant-simple-slider .slick-list {
  margin: 0;
}
.constant-simple-slider .slick-prev {
  left: 0;
}
.constant-simple-slider .slick-next {
  right: 0;
}
.constant-simple-slider .slick-prev:before,
.constant-simple-slider .slick-next:before {
  color: #222;
}