    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Heritage</h2>
              </div>
              <p>Château Mayne Blanc is located on the hills of Lussac Saint-Émilion, and enjoys a stunning Nature’s gift of adequate sunshine, mild climate and naturally ideal soil. For centuries, Château Mayne Blanc winemakers’ respect for its terroir, passion and dedication have contributed to its success and fame.</p>
              <p>As early as 1961, Château Mayne Blanc has been highly respected due to its unique wine quality. A new owner decided to innovate and started the construction of underground cellars and invested in top quality oak barrels. Château Mayne Blanc has gained its fame since then! And it never stopped innovating and improving its winemaking techniques.</p>
              <p>In 1983, Château Mayne Blanc was brought to a new peak after the hard work of several generations. The countless positive reviews and numerous awards sealed its reputation of a charming wine, reflecting a century of crafted and passionate winemaking.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>