    <!-- Wrapper Start -->
    <section id="appellation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/appellation.png" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Appellation</h2>
              </div>
              <p>Château Mayne Blanc is located in Lussac Saint-Émilion, whose fame of wines was spread to as far as England in the olden days, even though it was once destroyed by foreign invasion and rebuilt by the Benedictine monks in the 13th century.</p>
              <p>This production area with its geographical features was established by ‘Lucius’ during the Roman times when he first imported and planted its first vine.</p>
              <p>The amphi-theater shaped Lussac Saint-Émilion facing south equips its vineyards with naturally good drainage and plenty of sunlight (slopes).</p>
              <p>Merlot flourishes in the sandy-clay and limestone soil of Lussac Saint- Émilion.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>