    <!-- Wrapper Start -->
    <section id="egg-shaped-barrels">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/eggshapedbarrels.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Egg-Shaped Barrels</h2>
              </div>
              <p>Egg-shaped barrels are used for malolactic fermentation, which produces richer and more silky-mouthfeel wines, less reductive than when fermentation takes place in stainless steel tanks or in clay vats.</p>
              <p>The unique shape of this tank allows it to create a vortex (a continuous flow/circulation of liquid in the tank), which is slow and a natural bream that allows the wine (and the heavy particles) to flow, creating a more homogenous liquid. And therefore, there is also no need to stir the wine manually.</p>
              <p>The aim is also to leave no residual taste, which gives us the wines that are a great expression of its terroir.</p>
              <p>One of the most prestigious estates, such as Château Cheval Blanc, is also using the egg-shaped barrels!</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>