    <!-- Wrapper Start -->
    <section id="grapes">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/grapes.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Grapes</h2>
              </div>
              <p>The vineyard is planted with 85% Merlot, 7% Cabernet Sauvignon and 7% Cabernet Franc and 1% Malbec.</p>
              <div class="section-title">
                <h3>MERLOT</h3>
              </div>
              <p>Merlot is responsible for much of the appeal of red wines from the Saint-Émilion areas nearby to the Lussac Saint-Émilion. Taking exceptionally well to the terroir of the area, the grapes ripen early and easily. Merlot grapes are harvested early in order to maintain the acidity and produce more medium-bodied wines with moderate alcohol levels that have fresh, red fruit flavors (raspberries, strawberries) and potentially leafy, vegetal notes. Whereas late harvesting is to gain physiological ripeness and produce inky, purple colored wines that are full in body with high alcohol and lush, velvety tannins with intense, plum and blackberry fruit.</p>
              <div class="section-title">
                <h3>CABERNET SAUVIGNON</h3>
              </div>
              <p>Cabernet Sauvignon encompasses a broad range of potential flavours; with ripening bringing blackcurrant and even cassis flavours. The blackcurrant notes are often seen with black cherry and black olive notes in Bordeaux, they tends to be full-bodied wines with high tannins and noticeable acidity that contributes to the wine’s aging potential. Our exacting standards mean that only the finest, perfectly ripened Cabernet Sauvignon grapes are added to Château Mayne Blanc's reds.</p>
              <div class="section-title">
                <h3>CABERNET FRANC</h3>
              </div>
              <p>A distant relative of Cabernet Sauvignon, Cabernet Franc buds and ripens at least a week earlier and is often used to blend with Cabernet Sauvignon and Merlot in the Bordeaux style. Cabernet Franc delivers complex fragrance and wonderfully perfumed raspberry and blackcurrant flavours to Château Mayne Blanc's wines.</p>
              <div class="section-title">
                <h3>MALBEC</h3>
              </div>
              <p>Malbec grapes tend to have an inky dark color and robust tannins, and are known as one of the six grapes allowed in the blend of red Bordeaux wine. The Malbec grape is a thick-skinned grape and needs more sun and heat than either Cabernet Sauvignon or Merlot to mature. It ripens mid-season and can bring very deep color, ample tannin, and a particular plum-like flavor component to add complexity to claret blends.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>