    <!-- Wrapper Start -->
    <section id="oakbarrels">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/oakbarrels.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Morat Oak Barrels</h2>
              </div>
              <p>Here in Château Mayne Blanc, we also use Morat oak barrels which are made from fine oak trees that are up to 350 years in age. Morat oak barrels give wines a complex combination of aroma, such as smokiness, vanilla and coffee.</p>
              <p>During the winemaking process, the wine is exposed to the fragrance of these fine oaks, resulting in a stunning change in taste and texture. Wines made with Morat oak barrels are purer, more delicate and mellow. Morat oak barrels are very rare and precious, they are also one of the the most ideal winemaking barrels. It is most fortunate that we are able to use these Morat oak barrels at Château Mayne Blanc!</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>