    <!-- Wrapper Start -->
    <section id="oakbarrels">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/oakbarrels.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Morat Oak Barrels</h2>
              </div>
              <p>It is most fortunate that we are able to use the Morat oak barrels.  The barrels are made from fine oak trees that are up to 350 years in age! The Morat oak barrels are very rare and precious, they are also one of the most ideal barrels for a good vinification.</p>
              <p>During the vinification, the wine is exposed to these fine oak, resulting in a stunning change in taste and texture.</p>
              <p>Morat oak barrel gives wines a complex combination of aroma, such as smokiness, vanilla and coffee. Wines are also purer, more delicate and mellow.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>