<section id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-8 col-sm-8">
				<div class="block">
          <div class="section-title">
            <h2>Special Invitation</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
    <div class="row">
     <div class="col-md-2 col-sm-2"></div>
     <div class="col-md-3 col-sm-3">
      <div class="block">
        <img src="img/AndreasLarsson.png" alt="Img">
      </div>
    </div>
    <div class="col-md-5 col-sm-5">
      <div class="block">
        <div class="section-title">
          <h3>Andréas Larsson</h3>
          <h4>Consultant</h4>
          <p>Andréas Larsson is one of the World’s Best Sommelier and is recognized as a leader in the wine-tasting world. He has won the World’s Best Sommelier title multiple times. Our 2014 vintage is blended personally by Andréas Larsson.</p>
          <p>Being someone with a discerning palate and accumulated experience in tasting over the years, this is definitely a one-of-a-kind creation and another milestone for Château Mayne Blanc!</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
  </div>
  <div class="row">
   <div class="col-md-2 col-sm-2"></div>
   <div class="col-md-3 col-sm-3">
    <div class="block">
      <img src="img/MatthewJukes.png" alt="Img">
    </div>
  </div>
  <div class="col-md-5 col-sm-5">
    <div class="block">
      <div class="section-title">
        <h3>Matthew Jukes</h3>
        <h4>Consultant</h4>
        <p>Regarded as one of the world's leading wine experts with over 9 million readers a week, Matthew has the most keenly followed wine column in the UK - he has been Weekend Magazine’s wine writer since 2000. He has also written a highly acclaimed weekly article for MoneyWeek for over a decade.</p>
        <p>Matthew has won the highly prestigious International Wine and Spirit Competition’s Trophy for Wine Communicator of the Year in 2002.</p>
        <p>His thoughts, recommendations and tastings notes are followed very closely by the wine world at large.</p>
        <p>We are also pleased to have Matthew Jukes, here in Château Mayne Blanc who personally blended our 2015 & 2016 vintages.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-2"></div>
</div>

<div class="col-md-2 col-sm-2"></div>
</div>


</div>
</section>