    <!-- Wrapper Start -->
    <section id="vineyard">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/vineyard.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Vineyard</h2>
              </div>
              <p>Château Mayne Blanc is a magnificent vineyard located in Lussac Saint-Émilion, on the right bank of the Garonne and Dordogne rivers, the very heart of the Bordeaux wine producing region.</p>
              <p>The unique geographical location of Château Mayne Blanc provides it with plenty of sunlight, and also conditions for the massive planting of Merlot. Its great terroir gives its wines subtle aromas, while its noble and elegant architecture makes it one of the most classic representations of wine producing estates of the area.</p>
              <p>Its vineyard soil is made up of clay-limestone, covering a surface area of 22 hectares, having 85% Merlot, 7% Cabernet Sauvignon and 7% Cabernet Franc and 1% Malbec.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>