    <!-- Wrapper Start -->
    <section id="viticulture">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/viticulture.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Viticulture</h2>
              </div>

              <p>During the first three years of a plantation, the rows and the aisle between the vine trees are worked out in full to promote the rooting of the vines. Décavaillonnage (gently loosening the soil) and grassing control under the rows are practiced.</p>
              <p>Traditional methods are followed and strict field management instilled, e.g. control of the yields and balance of the vine status with natural grass, thinning out of leaves.</p>
              <p>During harvest, grapes are machine-picked and sorted in the cellar to conserve the fruit and its aromas. Harvest is carried out in an orderly and efficient manner by selecting the best plots according to their quality and maturity.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>