    <!-- Wrapper Start -->
    <section id="viticulture">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/viticulture.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Viticulture</h2>
              </div>
              <p>Traditional methods are followed and strict field management instilled, e.g. control of the yields and balance of the vine status with natural grass, thinning of leaves etc.
              </p>
              <p>During harvest, grapes are machine-picked and sorted in the cellar to conserve the fruit and its aromas.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>